<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <p> 
      	submitted by {{author}} 
      	{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    {{#if ownPost}}
     <a href="{{pathFor 'postPage'}}/edit" class="discuss btn btn-primary">Edit</a>
    {{/if}}
   	 <a href="{{pathFor 'postPage'}}" class="discuss btn btn-info">Discuss</a>
  </div>
</template>